@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .input {
        @apply
        transition-all ease-out
        w-full
        py-2 px-3
        rounded-md border border-neutral-800 bg-neutral-950 hover:border-neutral-600
        outline-none
        focus-visible:border-neutral-200 min-[320px]:text-xs md:text-sm
        placeholder-neutral-400
    }

    .tab {
        @apply
        capitalize aria-selected:text-neutral-50
        transition-all ease-out
        py-1 px-2 rounded-md
        bg-transparent text-neutral-400 hover:text-neutral-50 aria-selected:bg-neutral-950
        border border-transparent outline-none
        focus-visible:border-neutral-200 md:text-sm min-[320px]:text-xs
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
